@font-face {
    font-family: 'FuturaMediumC';
    src: url('FuturaMediumC.eot');
    src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
        url('../fonts/Futura/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/FuturaMediumC.woff') format('woff'),
        url('../fonts/Futura/FuturaMediumC.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.eot');
    src: local('Geometria Medium'),
        url('../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria/Geometria-Medium.woff') format('woff'),
        url('../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
        url('../fonts/Geometria/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria/Geometria-ExtraBold.woff') format('woff'),
        url('../fonts/Geometria/Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
