@font-face {
    font-family: 'FuturaMediumC';
    src: url('FuturaMediumC.eot');
    src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
        url('../fonts/Futura/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/FuturaMediumC.woff') format('woff'),
        url('../fonts/Futura/FuturaMediumC.ttf') format('truetype');
    /*font-weight: 500;*/
    font-style: normal;
}
/*@font-face {
    font-family: 'Geometria';
    src: url('Geometria.eot');
    src: local('Geometria'),
        url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria/Geometria.woff') format('woff'),
        url('../fonts/Geometria/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
        url('../fonts/Geometria/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria/Geometria-ExtraBold.woff') format('woff'),
        url('../fonts/Geometria/Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
