body {
    font-family: sans-serif;
    font-size: 1em;
    background: #fff;
    position: relative;
    /*font-family: 'Exo2', sans-serif;*/
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    height: 100%;
    margin: 0;
}
img {
    max-width: 100%;
}
a.button {
    display: block;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    -webkit-transition: color 0.5s ease-out,background 0.5s ease-out;
    -o-transition: color 0.5s ease-out,background 0.5s ease-out;
    transition: color 0.5s ease-out,background 0.5s ease-out;
}
.page {
    max-width: 1920px;
    height: auto;  
    margin: 0 auto;
    background: #122e49;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 100px;
}
h2.section__title {
    font-size: 2.5em;
    font-family: "Geometria";
    color: rgb(203, 216, 239);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 64px;
}

/**********-----------Header-menu-----------**********/

.header {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
}
.logo__text {
    font-size: 0.8em;
    line-height: 1.2;
    color: #408d2e;
    text-transform: uppercase;
}
.menu__links {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 30px;
}
.menu__links-item {
    list-style-type: none;
    font-family: "FuturaMediumC";
    font-size: 1.1em;
    line-height: 1.62;
    padding-right: 30px;
    padding-bottom: 4px;
}
.menu__links-item a {
    color: #fff;
    /*letter-spacing: 1.2px;*/
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.menu__links-item a:hover, 
.menu__links-item a:active, 
.menu__links-item a:focus,
a.phone:hover, 
a.phone:active, 
a.phone:focus {
    color: #fccc22;
}
.phone__wrap {
    font-size: 1.048em;
    font-family: "FuturaMediumC";
    text-align: center;
}
a.phone {  
    color: rgb(255, 255, 255);
    line-height: 1.728;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    cursor: pointer;
}
a.phone__button {
    color: rgb(255, 255, 255);
    line-height: 1.35;
    border: 2px solid rgb(103, 162, 49);
    border-radius: 16px;
    width: 142px;
    height: auto;
    padding-bottom: 2px;
}
a.phone__button:hover {
    color: #000;
    background: #fccc22;
    border: 2px solid #fccc22;
    box-shadow: 3.41px 3.657px 21px 0px rgba(252, 147, 34, 0.85);
}







/****Adaptive menu****/

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    left: 133px;
    bottom: 33px;
    cursor: pointer;
    margin-right: 20px;
    z-index: 100;
}
.menu__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #3f8cc7;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu__icon:hover span {
    background: rgba(65, 65, 65, 0.8);
}
.menu__icon span:nth-child(1) {
    top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}
.menu__icon span:nth-child(4) {
    top: 26px;
}
.menu__icon.on span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu__icon.on span:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.menu__icon.on span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.menu__icon.on span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu__icon.on nav.menu {
    display: block!important;
    position: relative;
    top: 2px;
    background-color: transparent;
    opacity: 1;
}
.menu__icon.on .menu li.menu__links-item {
    padding-right: 0;
}
.hidden-div {
    display: none;
}

/**********-----------About-section-----------**********/

section.about {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 120px;
}
.about__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.about__description {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
h1.about__title {
    font-size: 2.0832em;
    font-family: "Geometria";
    font-weight: 800;
    color: rgb(252, 204, 34);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}
.about__text {
    font-size: 1.248em;
    font-family: "FuturaMediumC";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}
.about__img {
    width: 750px;
    height: auto;
}
a.about__button {
    font-size: 1.11em;
    font-family: "Geometria";
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    background-color: rgb(252, 204, 34);
    box-shadow: 3.41px 3.657px 21px 0px rgba(252, 147, 34, 0.85);
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 20px 90px;
    margin-top: 45px;
}
a.about__button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/**********-----------Conversion-section-----------**********/

section.conversion {
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    
}
.conversion__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 25px;
}
h3.conversion__subtitle {
    font-size: 1.42em;
    font-family: "Geometria";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.69;
    padding-left: 55px;
}
h3.conversion__subtitle--res {
    padding-left: 11px;
}
.conversion__block {
    background-color: rgb(251, 253, 253);
    border-radius: 25px;
    box-shadow: 0px 0px 18px 2px rgba(112, 177, 53, 0.55);
    height: auto;
}
.conversion__data-block {
    width: 630px;
    padding-bottom: 40px;
}
.conversion__result {
    position: relative;
}

.conversion__result-block {
        width: 515px;
    position: absolute;
    left: -44px;
    padding-bottom: 40px;
    padding-top: 15px;
}
.ui-slider-horizontal .ui-slider-range-max {
    background-color: #7bc6db;
    height: 10px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
}
.ui-corner-all {
    height: 8px;
    border-radius: 6px;
}
.ui-widget-content {
    border-color: transparent;
    background: #fccc22;
    margin-top: 20px;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
}
.ui-state-default, 
.ui-widget-content 
.ui-state-default {
  border: 3px solid rgb(251, 253, 253);
  border-radius: 50%;
  background-color: rgb(252, 204, 34);
  box-shadow: 0.743px 0.669px 6.51px 0.49px rgba(49, 77, 97, 0.4);
  width: 15px;
  height: 16px;
  outline: none;
  cursor: pointer;
}
.amount {
    font-family: "Geometria";
    font-size: 0.972em;
    font-weight: 500;
    color: rgb(72, 77, 83);
    line-height: 2.2;
    text-align: center;
    border: 2px solid rgb(62, 124, 121);
    width: 80px;
    height: 32px;
    border-radius: 22px;
    outline: none;
}



.range__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    /*-ms-align-items: flex-end;*/
    /*align-items: flex-end;*/
    padding: 15px 55px 0;
}
.range__conversation {
    padding-right: 70px;
}
.range__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: flex-end;
    align-items: flex-end;
    margin-top: 20px;
    padding-right: 25px;
}
.range__text {
    font-size: 1.25em;
    font-family: "FuturaMediumC";
    color: rgb(72, 77, 83);
    line-height: 1.44;
    margin: 0 0 15px;
}
.range__date {
    width: 350px;
}
.range__text-result {
    margin-bottom: 0;
}
.range__wrap-result {
    padding-top: 40px;
    flex-direction: row;
}
.result__amount {
    border: 2px solid #fccc22;
    height: 34px;
}

/*Price-section*/

.price__progress{
  height: 100%;
  width: 1040px;
  /*left: calc(50% - 288px);*/
  padding: 0;
  margin: 0 auto;
  position: relative;
}
#progress-bar{
  width: 100%;
    /* color: #000; */
    height: 21px;
    border: 3px solid #fff;
    margin: 0 auto;
}
.progress__span {
  height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: #33862f;
    position: absolute;
    left: -2%;
    top: -6px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}


.second{
  left: 9.22%;
}
.third{
  left: 20.33%;
}
.fourth{
  left: 31.44%;
}
.fifth{
  left: 42.55%;
}
.sixth{
  left: 53.66%;
}
.seventh{
  left: 64.77%;
}
.eighth{
  left: 75.88%;
}
.ninth{
  left: 86.99%;
}
.tenth{
  left: 98.5%;
}
#progress-bar::-webkit-progress-value{ /* Changes line color */
  /*background: #fff;*/
  transition: all 0.4s ease-in-out;
}
#progress-bar::-webkit-progress-bar{ /* Changes background color */
  background: #33862f;
}
.progress__active {
  background: #fdcc22;
  transition: all 0.4s ease-in-out;
  height: 35px;
    width: 35px;
    top: -10px;
}

.price__step {
    max-width: 1040px;
    width: 100%;
    height: auto;
    margin: 51px auto 0;
    padding: 0 20px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 18px 2px rgba(112, 177, 53, 0.55);
    position: relative;
}
.price__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin: 54px 0 90px;
}
a.price__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.step__title {
    font-size: 1.67em;
    font-family: "Geometria";
    color: rgb(72, 77, 83);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.step__subtitle {
    font-size: 1.11em;
    font-family: "Geometria";
    color: rgb(72, 77, 83);
    line-height: 1.2;
    text-align: center;
}
.price__img {
    -webkit-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}
.price__img--apply {
    background: url(../img/calculator/img-apply_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
     width: 32px;
    height: 41px;
}
.price__img--case {
    background: url(../img/calculator/img-case_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
     width: 52px;
    height: 43px;
}
.price__img--paper {
    background: url(../img/calculator/img-paper_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 51px;
    height: 42px;

}
.price__text {
  font-size: 1.25em;
  font-family: "FuturaMediumC";
  color: rgb(72, 77, 83);
  line-height: 0.667;
  -webkit-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
a.price__item:hover .price__img--apply {
    background: url(../img/calculator/img-apply.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 41px;
}
a.price__item:hover .price__img--case {
    background: url(../img/calculator/img-case.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 52px;
    height: 43px;
}
a.price__item:hover .price__img--paper {
    background: url(../img/calculator/img-paper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 51px;
    height: 42px;
}
a.price__item:hover .price__text {
    color: rgb(51, 134, 47);
}
a.price__button {
    font-size: 1.11em;
    font-family: "Geometria";
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.6;
    background-color: rgb(51, 134, 47);
  box-shadow: 0px 0px 18px 2px rgba(112, 177, 53, 0.55);
    border-radius: 40px;
    width: 188px;
  height: 48px;
    /*padding: 20px 90px;*/
    position: absolute;
        top: 96%;
    left: 41%;
}
a.price__button:hover {
    box-shadow: none;
}

/*Time-section*/

.time__wrap {
    width: 1100px;
    height: auto;
    border-radius: 25px;
    border: 10px solid rgb(255, 255, 255);
    border-bottom: 24px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 18px 2px rgba(112, 177, 53, 0.55);
   overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 188px repeat(21, 1fr);
    margin: 0 auto;
    position: relative;
    z-index: 8;
}
.time__item--header {
    background-color: #33862f;
    height: 36px;
    font-size: 0.97em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.3;
    text-align: center;
}
.time__item--title {
    font-size: 0.97em;
    font-family: "FuturaMediumC";
    color: rgb(72, 77, 83);
    line-height: 0.857;
    text-align: left;
    padding: 20px 35px;
}
.time__item--gray {
    background-color: #f2f2f2;
}
.time__item--cell {
    border-left: 1px solid rgba(152, 209, 224, 0.6);
    border-bottom: 1px solid rgba(152, 209, 224, 0.6);
    position: relative;
}
.time__item--cell-last {
    border-right: 1px solid rgba(152, 209, 224, 0.6);
}

.time__item--inner {
    position: absolute;
    content: '';
    top: 50%;
    margin-left: 10px;
    margin-right: 10px;
    transform: translate(0, -50%);
    left: 0;
    background-color: #a0b8e3;
    z-index: 25;
    height: 27%;
    border-bottom-left-radius: 100px 80px;
    border-top-left-radius: 100px 80px;
    border-bottom-right-radius: 100px 80px;
    border-top-right-radius: 100px 80px;
}

/*********Offer-section*********/

.offer {
    margin-top: 130px;
}
.offer__wrap {
    max-width: 1100px;
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.offer__descr {
    width: 38%;
    position: relative;
    z-index: 8;
}
.offer__title {

  font-size: 2.85em;
  font-family: "Geometria";
  color: rgb(252, 204, 34);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-top: 0;
}
.offer__text {
  font-size: 1.25em;
  font-family: "FuturaMediumC";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: justify;
}
.offer__img {
    position: relative;

}
.offer__img img {
    position: relative;
    z-index: 8;
}
a.offer__button {
    font-size: 1.11em;
    font-family: "Geometria";
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    background-color: rgb(252, 204, 34);
    box-shadow: 3.41px 3.657px 21px 0px rgba(252, 147, 34, 0.85);
    border-radius: 40px;
    width: 320px;
    height: auto;
    padding: 20px 0px;
    margin-top: 48px;
}
a.offer__button:hover {
    box-shadow: none;
}

/*Animation-triangle*/

.triangle {
    position: absolute;
    z-index: 1;
    margin: 80px;
    width: 0;
    height: 0;
}

#triangle-first {
    filter: blur(7px);
    border: 100px solid transparent;
    border-bottom: 200px solid #f6cc17;
    animation-name: move1;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
    top: 0;
    right: 155%;
}
#triangle-first:after{
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    top: -25px;
    left: -125px;
}
@keyframes move1 {
    50% {
        border-bottom: 200px solid #532d61; 
        right: 100%;
        transform: rotate(180deg);
    }
    100% {
        border-bottom: 200px solid #f6cc17; 
        transform: rotate(360deg);
    }
}
#triangle-second {
    border: 30px solid transparent;
    border-right: 60px solid #f6cc17;
    animation-name: move2;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
    bottom: 93%;
    right: 55%;
}
@keyframes move2 {
    50% {
        border-right: 60px solid #395aa0; 
        right: 15%;
        transform: rotate(180deg);
    }
    100% {
        border-right: 60px solid #f6cc17; 
        transform: rotate(360deg);
    }
}
#triangle-third {
    filter: blur(1.5px);
    border: 40px solid transparent;
    border-right: 80px solid #f6cc17;
    animation-name: move3;
    animation-duration: 3s;
    animation-iteration-count: infinite;   
    top: 46%;
    right: 94%;
}
#triangle-third:after{
    position: absolute;
    content: '';
    width: 160px;
    height: 160px;
    top: -52px;
    left: -14px;
}
@keyframes move3 {
    50%  {
        top: 80%;
        right: 80%;
        border-right: 80px solid #00a650; 
        transform: rotate(180deg);
    }
    100% {
        border-right: 80px solid #3a5ba2;
        transform: rotate(360deg);
    }
}
#triangle-fourth {
    /*filter: blur(2.5px);*/
    border: 60px solid transparent;
    border-right: 120px solid #f6cc17;
    animation-name: move4;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
    top: 20%;
    left: 80%;
}
#triangle-fourth:after{
    position: absolute;
    content: '';
    width: 160px;
    height: 160px;
    top: -88px;
    left: -14px;
}
@keyframes move4 {
    50%  {
        filter: blur(2.5px);
        top: -20%;
        left: 75%;
        border-right: 120px solid #3a5ba2;       
        transform: rotate(180deg);
    }
    75% {
        filter: blur(1.5px);
        border-right: 120px solid #00a650;
    }
    100% {
        transform: rotate(360deg);
    }
}
#triangle-fifth {
    filter: blur(0.5px);
    border-top: 49px solid transparent;
    border-bottom: 69px solid transparent;
    border-right: 70px solid #f6cc17;
    animation-name: move5;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 53%;
    left: 78%;
}
#triangle-fifth:after{
    position: absolute;
    content: '';
    width: 193px;
    height: 182px;
    top: -69px;
    left: -41px;
}
@keyframes move5 {
    50%  {
        top: 84%;
        left: 35%;
        border-right: 70px solid #3a5ba2; 
        transform: rotate(180deg);
    }
    100% {
        border-right: 70px solid #f6cc17;
        transform: rotate(360deg);
    }
}
/*Contacts-section*/

.contacts__wrap {
    max-width: 1100px;
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contacts__item {
    text-align: left;
    width: 27%;
}
.contacts__subtitle {
  font-size: 1.25em;
  font-family: "Geometria";
  color: rgb(252, 204, 34);
  text-transform: uppercase;
  line-height: 1.203;
}
.contacts__descr,
.contacts__descr a {
  
  font-family: "FuturaMediumC";
  color: rgb(255, 255, 255);
  line-height: 1.203;
  text-decoration: none;
}
.contacts__descr a {
    -webkit-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
.contacts__descr {
    font-size: 1.25em;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.contacts__mail {
    margin: 0;
}
.contacts__mail a {
  font-size: 1em;
  text-decoration: underline;
}
.contacts__descr a:hover {
    color: rgb(51, 134, 47);
    text-decoration: none;
}

/*Left-scroll*/

.scroll { 
    position: fixed; 
    top: 50%; 
    left: 15px; 
    z-index: 1000; 
}

.scroll ul { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    text-align: center; 
}

.scroll ul li { 
    margin: 1em 0;
    width: 83px;
    height: 20px;
  
 
}



.scroll a { 
    display: block; 
    position: relative;
    top: 10px;
    left: 4px;
    font-size: 1em;
  font-family: "Geometria";
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  line-height: 1.964;
  text-align: left;
  text-decoration: none;
}
.scroll li.active a { 
  color: rgb(255, 255, 255);
}
.scroll span {
    position: relative;
}
.scroll span:after { 
    content: '';
    display: block;
    width: 0.6em;
    height: 0.6em;
    margin: 0.3em;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 77px;
}
.scroll li.active span:after {
    background: #fff;
}
/* Pop-up-form */

.hidden {
    display: none;
}

form {
    background-color: #F7F7F7;
    padding: 25px 30px;
    border: #79b433 5px solid;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px;
}

form input {
    display: block;
    line-height: 40px;
    height: 40px;
    border: #D9D9D9 1px solid;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
    margin-top: 3px;
}

form .button_wrap {
    text-align: center;
    margin: 30px 0 10px;
}

.button.btn-green {
    background-color: #79b433;
    color: #fff;
    outline: none;
    font-size: 15px;
    padding: 8px 10px;
}

#form_back {
    max-width: 420px;
    margin: auto;
    position: relative;
}

#form_back h2 {
    text-align: center;
    font-weight: normal;
}

#form_back p {
    text-align: center;
}

