body {
    font-family: sans-serif;
    font-size: 1em;
    background: #fff;
    position: relative;
    /*font-family: 'Exo2', sans-serif;*/
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    height: 100%;
    margin: 0;
}
img {
    max-width: 100%;
}
a.button {
    display: block;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    -webkit-transition: color 0.5s ease-out,background 0.5s ease-out;
    -o-transition: color 0.5s ease-out,background 0.5s ease-out;
    transition: color 0.5s ease-out,background 0.5s ease-out;
}
.page {
    max-width: 1920px;
    height: 6300px;   /*auto*/
    margin: 0 auto;
    background: #122e49;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h2.section__title {
    font-size: 2.5em;
    font-family: "Geometria";
    color: rgb(203, 216, 239);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

/**********-----------Header-menu-----------**********/

.header {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
}
.logo__text {
    font-size: 0.8em;
    line-height: 1.2;
    color: #408d2e;
    text-transform: uppercase;
}
.menu__links {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 30px;
}
.menu__links-item {
    list-style-type: none;
    font-family: "FuturaMediumC";
    font-size: 1.1em;
    line-height: 1.62;
    padding-right: 30px;
    padding-bottom: 4px;
}
.menu__links-item a {
    color: #fff;
    /*letter-spacing: 1.2px;*/
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.menu__links-item a:hover, 
.menu__links-item a:active, 
.menu__links-item a:focus,
a.phone:hover, 
a.phone:active, 
a.phone:focus {
    color: #fccc22;
}
.phone__wrap {
    font-size: 1.048em;
    font-family: "FuturaMediumC";
    text-align: center;
}
a.phone {  
    color: rgb(255, 255, 255);
    line-height: 1.728;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    cursor: pointer;
}
a.phone__button {
    color: rgb(255, 255, 255);
    line-height: 1.35;
    border: 2px solid rgb(103, 162, 49);
    border-radius: 16px;
    width: 142px;
    height: auto;
}
a.phone__button:hover {
    color: #000;
    background: #fccc22;
    border: 2px solid #fccc22;
    box-shadow: 3.41px 3.657px 21px 0px rgba(252, 147, 34, 0.85);
}







/****Adaptive menu****/

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    left: 133px;
    bottom: 33px;
    cursor: pointer;
    margin-right: 20px;
    z-index: 100;
}
.menu__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #3f8cc7;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu__icon:hover span {
    background: rgba(65, 65, 65, 0.8);
}
.menu__icon span:nth-child(1) {
    top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}
.menu__icon span:nth-child(4) {
    top: 26px;
}
.menu__icon.on span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu__icon.on span:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.menu__icon.on span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.menu__icon.on span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu__icon.on nav.menu {
    display: block!important;
    position: relative;
    top: 2px;
    background-color: transparent;
    opacity: 1;
}
.menu__icon.on .menu li.menu__links-item {
    padding-right: 0;
}
.hidden-div {
    display: none;
}

/**********-----------About-section-----------**********/

section.about {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 120px;
}
.about__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.about__description {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
h1.about__title {
    font-size: 2.0832em;
    font-family: "Geometria";
    font-weight: 800;
    color: rgb(252, 204, 34);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}
.about__text {
    font-size: 1.248em;
    font-family: "FuturaMediumC";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}
.about__img {
    width: 750px;
    height: auto;
}
a.about__button {
    font-size: 1.11em;
    font-family: "Geometria";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    background-color: rgb(252, 204, 34);
    box-shadow: 3.41px 3.657px 21px 0px rgba(252, 147, 34, 0.85);
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 20px 90px;
    margin-top: 45px;
}
a.about__button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/**********-----------Conversion-section-----------**********/

section.conversion {
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 160px;
}
.conversion__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 25px;
}
h3.conversion__subtitle {
    font-size: 1.42em;
    font-family: "Geometria";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.69;
    padding-left: 55px;
}
.conversion__block {
    background-color: rgb(251, 253, 253);
    border-radius: 10px;
    box-shadow: 0px 0px 18px 2px rgba(112, 177, 53, 0.55);
    height: auto;
}
.conversion__data-block {
    width: 600px;
    /*position: relative;*/
}
.conversion__result {
    position: relative;
}
.conversion__result-block {
    width: 515px;
    position: absolute;
    left: -16px;
}





.range__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 35px 55px;
}
.range__text {
    font-size: 1.25em;
    font-family: "FuturaMediumC";
    color: rgb(72, 77, 83);
    line-height: 1.44;
    margin: 0 0 15px;
}
.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range::-moz-range-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip {
  display: none;
  /* display and visibility only */
}

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #606670;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb {
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

output {
    font-family: "Geometria";
    font-size: 0.972em;
    color: rgb(72, 77, 83);
    line-height: 1.851;
    text-align: center;
    border: 3px solid rgb(62, 124, 121);
    width: 95px;
    height: 40px;
    border-radius: 22px;
}




/* Pop-up-form */

.hidden {
    display: none;
}

form {
    background-color: #F7F7F7;
    padding: 25px 30px;
    border: #79b433 5px solid;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px;
}

form input {
    display: block;
    line-height: 40px;
    height: 40px;
    border: #D9D9D9 1px solid;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
    margin-top: 3px;
}

form .button_wrap {
    text-align: center;
    margin: 30px 0 10px;
}

.button.btn-green {
    background-color: #79b433;
    color: #fff;
    outline: none;
    font-size: 15px;
    padding: 8px 10px;
}

#form_back {
    max-width: 420px;
    margin: auto;
    position: relative;
}

#form_back h2 {
    text-align: center;
    font-weight: normal;
}

#form_back p {
    text-align: center;
}

